{{ define "main" }}
{{- partial "section/main/jumbotron-centered.html" . -}}


<section class="section guide-list bg-dark">
    <div class="container">
        {{ range .Pages }}
        <div class="row justify-content-center">
            <div class="col-md-8 p-3" data-aos="fade-up"
                data-aos-anchor=".guide-list" style="background-color: white;
                border-radius:0.5rem;">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <a href="{{.Permalink}}">
                            <img src="{{.Params.image}}"
                                alt="{{.Params.image}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h4 class="mb-2" style="color: #2e2e2e;">
                            {{.Title}}
                        </h4>
                        <p class="mb-3 text-wrap" style="font-weight:400;">
                            <a class="no-decoration" href="{{.Permalink}}">
                                {{.Params.summary}}
                            </a>
                        </p>
                        <div class="d-flex">
                            <p style="font-size:0.9rem; font-weight:400;
                                margin-right:1rem;">{{ .Params.author}}이 알려드려요.</p>
                            <p style="font-size:0.9rem; font-weight:400;">읽기 시간:
                                약 {{ .Params.readingTime}}분</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>


{{ end }}
