<!-- <section class="section feature" id="feature">
  <div class="container">
    <div class="row">
      <h3 class="section-subtitle font-weight-bolder">
        <b>주주 리걸 실제로 이렇게 돌아가요</b>
      </h3>
    </div>   -->
        <div class="row justify-content-center">
          <div class="col-md-10 my-4">
            <ul class="nav nav-pills" id="v-pills-tab" role="tablist">
            <li>
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
              href="#v-pills-home" role="tab" aria-controls="v-pills-home"
              aria-selected="true"><i data-feather="gift" stroke-width="3"
                width="20"></i>
              <span>
                스톡옵션
              </span></a>
            </li>
    
             <li>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
              href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
              aria-selected="false"><i data-feather="dollar-sign" stroke-width="3"
                width="20"></i>
              <span>
                유상증자
              </span></a>
             </li>
    
              <li>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                aria-selected="false"><i data-feather="users" stroke-width="3"
                  width="20"></i>
                <span>임원 변경</span></a>
              </li>
              </ul>
          </div>

          <div class="col-md-10">
            <!-- STOCKOPTION DETAIL STARTS -->
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home"
                role="tabpanel" aria-labelledby="v-pills-home-tab">
                <iframe data-aos="fade-up" src="https://player.vimeo.com/video/500027375" width="100%"
                  height="700" frameborder="0" allow="autoplay; fullscreen"
                  allowfullscreen></iframe></div>
            </div>
            <!-- STOCKOPTION DETAIL ENDS -->
          </div>

        </div>
      


    
  <!-- </div>
</section> -->
