<section class="bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{{ .Params.image}}" alt="jumbotron" class="fluid-80" data-aos="fade-up">
            </div>
            <div class="col-md-6">
                <div class="main  text-left w-75 word-wrap">
                    <h1 class="main-title text-white">📚 {{.Params.title}}</h1>
                    <h2 class="main-subtitle text-white" style="opacity: .72;">{{.Params.subtitle}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
