<section class="bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{{ .Params.image}}" alt="jumbotron" class="fluid-80" data-aos="fade-up">
            </div>
            <div class="col-md-6">
                <div class="main  text-left w-75 word-wrap">
                    <img src={{.Site.Data.link.common.sparkle}} class="custom-icon-32" alt="sparkle" />
                    <h1 class="main-title" class="text-left">{{.Params.title}}</h1>
                    <h2 class="main-subtitle" style="color:#2E2E2E">{{.Params.subtitle}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
