.banner {
    padding: $baseUnit $baseUnit * 3;
    &-summary {
        margin-left: $baseUnit * 0.5;
        @include caption(1.75, $medium);
    }
    background: rgba(74, 165, 112, 0.2);
    border-top: 1px solid $hr;
    color: $primaryHover;
    button.button {
        margin-left: $baseUnit * 0.5;
        @include media-break-point-down {
            display: none;
        }
    }
}
