.banner {
    padding: $baseUnit $baseUnit * 3;
    &-summary {
        margin-left: $baseUnit * 0.5;
        @include caption(1.75, $regular);
    }
    background: $backgroundColor;
    border-top: 1px solid $hr;
    color: $bodyText;
    button.button {
        margin-left: $baseUnit * 0.5;
        @include media-break-point-down {
            display: none;
        }
    }
}
