.banner {
    border-top: 1px solid $hr;
    @include flex(row, center, flex-start);
    padding: $baseUnit $baseUnit * 3;
    &-title {
        @include flex(row, center, flex-start);
        @include caption(1, $medium);
        & > *:last-child {
            margin-left: $baseUnit * 0.5;
        }
    }
    background: $backgroundColor;
    color: $bodyText;
    button.button {
        margin-left: $baseUnit * 0.5;
    }
}
