.button {
  /**
  * * BUTTON COMMON STYLE
  */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $baseUnit * 0.5 $baseUnit;
  background-color: transparent;
  border-radius: $baseUnit * 10;
  border: none;
  transition: all $default-duration $default-easing;

  &:not(.button-tertiary) {
    &:hover {
      @include box-shadow-e-1;
    }
  }
  &:hover {
    & > svg {
      transition: all $default-easing $default-duration;
      transform: translateX(3px);
    }
  }

  & + & {
    margin-left: $baseUnit;
  }

  /**
  * * BUTTON SIZE: large, medium, small
  */
  &-large {
    padding: $baseUnit * 1.5 $baseUnit * 1.5 * 1.5;
    @include heading5(1, $bold);
    margin-top: $baseUnit * 2;
    margin-bottom: $baseUnit * 0.5;
    span.symbol {
      padding: $baseUnit;
      color: $primaryLight;
      background-color: $white;
      border-radius: 100%;
      @include caption(1, $bold);
    }
  }
  &-medium {
    padding: $baseUnit * 1 $baseUnit * 1.5;
    @include heading5(1, $bold);
  }
  &-small {
    padding: $baseUnit * 0.5 $baseUnit;
    @include caption(1, $medium);
  }

  /**
  * * BUTTON PRIORITY: primary, secondary, tertiary
  */
  &-primary {
    color: $white;
    background-color: $primaryLight;
    &:hover {
      background-color: $primaryHover;
    }
  }
  &-secondary {
    color: $bodyText;
    background-color: $secondaryButtonBackground;
    border: 1px solid $secondaryButtonStroke;
  }
  &-tertiary {
    color: $bodyText;
    background-color: transparent;
  }
}
