/** 
* Override default bootstrap dropdown menu style 
*/

.custom-dropdown-menu {
    background-color: white;
    z-index: 10;
    // Bootstrap default dropdown menu already has position:realtive
    padding: $baseUnit * 1.5 0;
    border-radius: $baseUnit * 0.75;
    @include box-shadow-e-1;
    border-color: $hr;

    .custom-dropdown-item {
        @include body-text(1, $regular);
        padding: $baseUnit $baseUnit * 3;
    }

    .active {
        background-color: transparent;
        @include body-text(1, $medium);
    }
}
