@import "../abstract/variable";

.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bodyText;
  line-height: 1;
  &-circle {
    border-radius: 100%;
  }
  &-bordered {
    @extend .bordered;
  }
}

// DEFINE SIZE
$size: "8" $baseUnit, "16" $baseUnit * 2, "24" $baseUnit * 3, "32" $baseUnit * 4, "40" $baseUnit * 5, "48" $baseUnit * 6,
  "56" $baseUnit * 7, "64" $baseUnit * 8, "72" $baseUnit * 9, "80" $baseUnit * 10;

@each $name, $width in $size {
  .custom-icon-#{$name} {
    width: $width;
    height: $width;
  }

  .feather-icon-#{$name} {
    width: $width;
    height: $width;
  }
}
