@import '../abstract/variable';
@import '../base/typography';

nav {
  &.main-nav {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: $baseUnit * 1.5 $baseUnit * 3;

    .navbar-brand {
      padding: $baseUnit * 0.5 $baseUnit;
      .logo {
        width: $baseUnit * 9;
      }
    }

    .desktop-nav {
      display: flex;
      justify-content: space-between;
    }

    .nav-item {
      .nav-link {
        @include button-label-small($regular);
        color: $bodyText;
        padding: $baseUnit * 0.5 $baseUnit;
      }
    }
  }
}
