@import "../abstract/variable";
@import "../base/typography";

nav {
  &.main-nav {
    .navbar-inner {
      display: flex;
      align-items: center;
      padding: $baseUnit 0;
    }

    .navbar-brand {
      padding: $baseUnit * 0.5 $baseUnit;
      .logo {
        width: $baseUnit * 9;
      }
    }

    .desktop-nav {
      display: flex;
      justify-content: space-between;
    }

    .nav-item {
      .nav-link {
        @include button-label-small($regular);
        color: $bodyText;
        padding: $baseUnit * 0.5 $baseUnit;
      }
    }
  }
}
