nav {
  &.main-nav {
    position: relative;
    z-index: 100;
    .navbar-inner {
      display: flex;
      align-items: center;
      padding: $baseUnit 0;
    }

    .navbar-brand {
      padding: $baseUnit * 0.5 $baseUnit;
      .logo {
        width: $baseUnit * 8;
      }
    }

    .desktop-nav {
      display: flex;
      justify-content: space-between;
    }

    .nav-item {
      .nav-link {
        @include body-text(1, $regular);
        color: $bodyText;
        padding: $baseUnit * 0.5 $baseUnit;
      }
    }
    .active {
      font-weight: $bold;
      color: $primaryLight;
      .nav-link {
        color: inherit;
        font-weight: inherit;
      }
    }
  }
}
