<!-- <script src={{"/js/vendor/jquery.min.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/jquery.min.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/bootstrap.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/bootstrap.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/feather.min.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/feather.min.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/lottie-player.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/lottie-player.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/aos.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/aos.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/progress-image.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/progress-image.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/vendor/anime.min.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/vendor/anime.min.js" | relURL }} type="text/javascript"></script>
<script src={{"/js/vendor/fitVids.js" | relURL }} type="text/javascript"></script>

<!-- <script src={{"/js/spinner.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/spinner.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/attribute.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/attribute.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/counter.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/counter.js" | relURL }} type="text/javascript"></script>
<!-- <script src={{"/js/reveal.js" | absURL }} type="text/javascript"></script> -->
<script src={{"/js/reveal.js" | relURL }} type="text/javascript"></script>


<script>
  feather.replace();
  AOS.init({
    duration: 1200,
    offset: 20,
  });
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".container, .col-md-12, .col-md-10").fitVids();
  });

function isIE() {
  const ua = window.navigator.userAgent; //Check the userAgent property of the window.navigator object
  const msie = ua.indexOf('MSIE '); // IE 10 or older
  const trident = ua.indexOf('Trident/'); //IE 11

  return (msie > 0 || trident > 0);
}

//function to show alert if it's IE
function ShowIEAlert(){
  if(isIE()){
     alert("주주 리걸은 인터넷 익스플로러를 지원하지 않아요. 크롬을 이용해주세요.");
  }
}
</script>
