
{{/* TO DO: DON'T HARDCORD FOOTER LIST ITEMS */}}

<footer class="bg-light">
  <div class="container">
    <div class="footer-inner">
      <div class="row">
        <div class="col-md-3">
          <ul class="footer-group">
            <li class="footer-group-title">
              정보
            </li>
            <li class="footer-group-list">
              <a href="https://www.notion.so/f3710bea015740f8ad76941a30214635"
                target="_blank">채용</a>
              <span class="badge badge-secondary">HOT!</span>
            </li>
            <li class="footer-group-list">
              <a href="#" target="_blank" title="주주 팀 바로가기">주주 팀</a>
            </li>
            <li class="footer-group-list">
              <a href="https://blog.zuzu.network" target="_blank">블로그</a>
            </li>
            <li class="footer-group-list">
              <a href="https://help.zuzu.network" target="_blank">헬프</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-group">
            <li class="footer-group-title">
              주주 패밀리 서비스
            </li>
            <li class="footer-group-list">
              <a target="_blank" href="https://zuzu.network" title="주주 바로가기">주주</a>
            </li>
            <li class="footer-group-list">
              <a target="_blank" href="https://legal.zuzu.network" title="주주리걸
                바로가기">
                주주 리걸
              </a>
            </li>
            <li class="footer-group-list">
              <a target="_blank" href="https://delivery.zuzu.network" title="주주
                딜리버리 바로가기">주주 딜리버리</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-group">
            <li class="footer-group-title">
              이용약관 및 개인정보처리방침
            </li>
            <li class="footer-group-list">
              <a target="_blank" href={{"term-and-privacy/term" | absURL}} title="이용약관">이용약관</a></li>
            <li class="footer-group-list">
              <a target="_blank" href={{"term-and-privacy/privacypolicy" | absURL}} title="개인정보처리방침">개인정보처리방침</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer-group">
            <li class="footer-group-title">
              이메일 및 제휴 문의
            </li>
            <li class="footer-group-list">
              <a
                href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=help@zuzu.network"
                target="_blank" title="이메일 문의">이메일 문의(고객전용)</a>
            </li>
            <li class="footer-group-list">
              <a
                href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=partner@zuzu.network"
                target="_blank" title="이메일 문의">제휴 문의</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <ul class="footer-group">
          <li class="footer-group-title">
            (주) 코드박스 | Kodebox Inc.
          </li>
          <li class="footer-group-company-info">
              대표: 서광열 | 사업자등록번호: 107-88-42217 | 통신판매업번호:
              2017-서울강남-04048 호
          </li>
          <li class="footer-group-company-info">
            서울시 강남구 테헤란로 129 732호| 웹사이트: https://kodebox.io
          </li>
          <li class="footer-group-company-info">
            Copyright {{ now.Format "2006" }} © Kodebox. All Rights Reserved.
          </li>
        </ul>
        <ul class="footer-group-social">
          <li class="footer-group-social-group-list"><a href="https://facebook.com/zuzunetwork" title="주주 페이스북" target="_blank"><span><i
                  data-feather="facebook" width="14"></i></span></a></li>
          <li class="footer-group-social-group-list"><a href="https://www.youtube.com/channel/UCNnegfJm9GXzqqvhCljfmQg" title="주주 유튜브" target="_blank"><span><i
                  data-feather="youtube" width="14"></i></span></a></li>
        </ul>
      </div>
      <div class="row">
        {{- partial "footer/subscription" . }}
      </div>
    </div>
  </div>
</footer>
