.banner {
    padding: $baseUnit $baseUnit * 3;
    background: linear-gradient(270deg, #6e48aa, #9d50bb);
    background-size: 400% 400%;
    animation: GradientAnimation 4s ease-out infinite;
    @keyframes GradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    color: $white;
}
