.form {
    footer & {
        &-title {
            @include body-text(1.75, $medium);
            margin-bottom: $baseUnit * 0.75;
            color: $subtitleText;
        }
        &-subtitle {
            @include body-text(1.75, $regular);
            margin-bottom: $baseUnit;
            color: $bodyText;
        }
    }
}
