// LAYOUT LEVEL
html {
  overflow-x: hidden;
}
.row + .row {
  margin-top: $baseUnit * 4;
}
.container + .container {
  margin-top: $baseUnit * 8;
}

// COMPONENT LEVEL
*[onclick] {
  cursor: pointer;
}

img.fluid-100 {
  width: 100%;
  min-width: 320px;
}

img.fluid-80 {
  width: 80%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

span.highlight {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
  padding: 0.6em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.flip-horizontal {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

// MEDIAQUERY
@media screen and (max-width: 768px) {
  *[class^="col-md"] + *[class^="col-md"] {
    margin-top: $baseUnit * 3;
  }
}
