// LAYOUT LEVEL
.row + .row {
  margin-top: $baseUnit * 4;
}

// COMPONENT LEVEL
*[onclick] {
  cursor: pointer;
}

.flip-horizontal {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

// MEDIAQUERY
@media screen and (max-width: 768px) {
  *[class^="col-md"] + *[class^="col-md"] {
    margin-top: $baseUnit * 3;
  }
}
