/**
 * * NOTICE
  FLUID TYPOGRAPHY SYSTEM
  https://css-tricks.com/snippets/css/fluid-typography/
  https://css-tricks.com/simplified-fluid-typography/
 */

/**
 * * TYPE SCALE STARTS;
 * MAJOR-THIRD(* 1.25) MODULAR TYPE SCALE
 * https://type-scale.com/
*/

html {
  font-family: "Noto Sans KR", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /** JUST IN CASE THAT YOU'D LIKE TO ACTIVE A SYSTEM FONT ONLY  */
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 16px;
  @include media-break-point-down {
    font-size: calc(14px * 2 / 3);
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.75;
}

/**
 * * TYPOGRAPHY MIXIN STARTS;
 */

@mixin heading1($line-height, $font-weight: $black) {
  margin-top: 0;
  font-size: 2.488rem;
  font-weight: $font-weight;
  letter-spacing: -0.04rem;
  color: $subtitleText;
  line-height: $line-height;
}

@mixin heading2($line-height, $font-weight: $bold) {
  font-size: 2.074rem;
  font-weight: $font-weight;
  letter-spacing: -0.03rem;
  line-height: $line-height;
}
@mixin heading3($line-height, $font-weight: $bold) {
  font-size: 1.728rem;
  font-weight: $font-weight;
  letter-spacing: -0.02rem;
  line-height: $line-height;
}
@mixin heading4($line-height, $font-weight: $medium) {
  font-size: 1.44rem;
  font-weight: $font-weight;
  letter-spacing: -0.02rem;
  line-height: $line-height;
}
@mixin heading5($line-height, $font-weight: $medium) {
  font-size: 1.2rem;
  font-weight: $font-weight;
  letter-spacing: -0.02rem;
  line-height: $line-height;
}
@mixin body-text($line-height, $font-weight: $bold) {
  font-size: 1rem;
  font-weight: $font-weight;
  letter-spacing: -0.01rem;
  line-height: $line-height;
  @include media-break-point-down {
    font-size: 1.25rem;
  }
}
@mixin caption($line-height, $font-weight: $bold) {
  font-size: 0.8rem;
  font-weight: $font-weight;
  letter-spacing: 0.01rem;
  line-height: $line-height;
  @include media-break-point-down {
    font-size: 1.1rem;
  }
}
