/** 
 * * NOTICE 
  We use fluid typography system.
  https://css-tricks.com/snippets/css/fluid-typography/
  https://css-tricks.com/simplified-fluid-typography/
 */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1600px;
$min_font: 14px;
$max_font: 20px;

/** 
 * * Type Scale Starts
 * Major-third Modular Type Scale
 * https://type-scale.com/
*/

html {
  font-family: "Noto Sans KR", sans-serif;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

small,
.text_small {
  font-size: 0.8rem;
}

/**
 * * Type Scale Starts Ends */
