<section id="pricing" class="pricing section">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="section-title">요금제</h2>
                <h3 class="section-subtitle">베이직과 프리미엄 중 원하시는 요금제를 선택하세요</h3>
                <div class="table-responsive">
                    <table class="table table-bordered" data-aos="fade-up">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">베이직</th>
                                <th scope="col">
                                    <span>프리미엄</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">구독료</th>
                                <td>무료(기본)</td>
                                <td>
                                    <div>월 단위 결제: 30,000원(매월)</div>
                                    <div>1년 단위 결제: 360,000원
                                        <span class="badge badge-pill
                                            badge-primary">+72,000 크레딧</span>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="section-title">등기 문서 생성 비용</h2>
                <h3 class="section-subtitle">요금제 가격은 셀프 등기 기준이며 등기 대행 시에는 추가 비용이
                    발생해요
                </h3>
                <div class="table-responsive">
                    <table class="table table-bordered" data-aos="fade-up">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">베이직</th>
                                <th scope="col"><span>프리미엄</span></th>
                                <th scope="col">등기 대행 추가 비용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">대표이사 주소 변경</th>
                                <td rowspan="10">66,000 크레딧</td>
                                <td>무료
                                    <span class="badge badge-pill
                                        badge-primary">FREE!</span>
                                </td>
                                <td rowspan="10">77,000 크레딧</td>
                            </tr>
                            <tr>
                                <th scope="row">본점 이전</th>

                                <td rowspan="9">
                                    <div style="text-decoration:
                                        line-through; opacity: .4;">66,000 크레딧
                                    </div>
                                    <div>55,000 크레딧
                                        <span class="badge badge-pill
                                            badge-primary">20% 할인</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">임원 변경
                                    <span class="badge badge-secondary">HOT!</span>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">공동대표 규정 설정/폐지</th>
                            </tr>
                            <tr>
                                <th scope="row">상호 변경</th>
                            </tr>
                            <tr>
                                <th scope="row">목적 변경</th>
                            </tr>
                            <tr>
                                <th scope="row">공고 방법 변경</th>
                            </tr>
                            <tr>
                                <th scope="row">발행예정주식총수 변경</th>
                            </tr>
                            <tr>
                                <th scope="row">스톡옵션 규정 신설/변경</th>
                            </tr>
                            <tr>
                                <th scope="row">주식양도제한</th>
                            </tr>
                            <tr>
                                <th scope="row">유상증자
                                    <span class="badge badge-secondary">
                                        HOT!
                                    </span>
                                </th>
                                <td>132,000 크레딧</td>
                                <td>
                                    <div style="text-decoration:
                                        line-through; opacity: .4;">132,000 크레딧
                                    </div>
                                    <div>110,000 크레딧
                                        <span class="badge badge-pill
                                            badge-primary">16% 할인</span>
                                    </div>
                                </td>
                                <td>165,000 크레딧 <br> (자본금 10억 미만)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h2 class="section-title">법인 설립</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-bordered" data-aos="fade-up">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">베이직</th>
                                <th scope="col"><span>프리미엄</span></th>
                                <th scope="col">등기 대행 추가 비용</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">법인 설립</th>
                                <td colspan="3">300,000 크레딧 <span class="badge
                                        badge-pill badge-primary">대행료 포함</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="section-title">의결 문서 생성 비용</h2>
                <div class="table-responsive">
                    <table class="table table-bordered" data-aos="fade-up">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">베이직</th>
                                <th scope="col"><span>프리미엄</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">재무제표 승인</th>
                                <td rowspan="5">33,000 크레딧</td>
                                <td rowspan="6">무료
                                    <span class="badge badge-pill
                                        badge-primary">FREE!</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">임원 보수 한도</th>
                            </tr>
                            <tr>
                                <th scope="row">임원 보수 결정</th>
                            </tr>
                            <tr>
                                <th scope="row">중간 배당 (지원 예정)</th>
                            </tr>
                            <tr>
                                <th scope="row">이익 배당 (지원 예정)</th>
                            </tr>
                            <tr>
                                <th scope="row">스톡옵션 부여 및 계약서 생성
                                    <span class="badge badge-secondary">
                                        HOT!
                                    </span>
                                </th>
                                <td>110,000 크레딧</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h2 class="section-title">추가 기능</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-bordered" data-aos="fade-up">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">베이직</th>
                                <th scope="col"><span>프리미엄</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" style="vertical-align: middle;">
                                    <span>주식 관리</span>
                                </th>
                                <td><i data-feather="check"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                            <tr>
                                <th scope="row">임원 임기 관리</th>
                                <td><i data-feather="check"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                            <tr>
                                <th scope="row">스톡옵션 관리</th>
                                <td><i data-feather="x"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                            <tr>
                                <th scope="row">고품질 정관 제공</th>
                                <td>110,000 크레딧</td>
                                <td>
                                    <div style="text-decoration:
                                        line-through; opacity:
                                        .4;">111,000 크레딧
                                    </div>
                                    <div>88,000 크레딧
                                        <span class="badge
                                            badge-pill
                                            badge-primary">20%
                                            할인</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">기존 정관 리뷰</th>
                                <td>55,000 크레딧</td>
                                <td>
                                    <div style="text-decoration:
                                        line-through; opacity:
                                        .4;">55,000 크레딧
                                    </div>
                                    <div>44,000 크레딧
                                        <span class="badge
                                            badge-pill
                                            badge-primary">20%
                                            할인</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">셀프 등기 전문가 케어</th>
                                <td><i data-feather="x"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                            <tr>
                                <th scope="row">주주 포탈
                                    (2020년 12월 지원 예정)</th>
                                <td><i data-feather="x"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                            <tr>
                                <th scope="row">전자
                                    주주총회 (2021년
                                    2월 지원 예정)</th>
                                <td><i data-feather="x"></i> </td>
                                <td><i data-feather="check"></i> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
