<section id="cta" class="section cta">
    <div class="container">
        <div class="col-md-12 text-center">
            <img src="/assets/images/pack/UnboxingDoodle.svg" alt="콜투액션이미지"
                data-aos="fade-up" data-aos-anchor=".cta" class="cta-image">
            <h2 class="section-title">
                <span class="highlight">정말로!</span>
                {{.Site.Data.section.cta.title}}
            </h2>
            <h3 class="section-subtitle">
                {{.Site.Data.section.cta.subtitle}}
            </h3>
            <div>
                <button type="button" onclick="location.href={{.Site.Params.signupURL }}"
                    class="button button-large button-primary">
                    <span>
                        {{.Site.Data.label.button.demoStart}}
                    </span>
                        <i data-feather="chevron-right" width="20" stroke-width="3"></i>
                </button>
            </div>
            <p class="cta-caption">데모 체험은 어떤 추가 결제도 필요하지 않아요</p>
        </div>
    </div>

</section>
