<section id="main" class="background-dim vh-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    <img src={{.Site.Data.link.common.sparkle}}
                        class="custom-icon-56" />
                    <h1>{{.Params.title}}</h1>
                    <img src={{.Site.Data.link.common.sparkle}}
                        class="custom-icon-56 flip-horizontal" />
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="section-subtitle text-center">{{.Params.subtitle}}</h4>
            </div>
        </div>
        <div class="row">
            <img data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" data-aos-offset="20" src={{ .Params.mainImage }}/>
        </div>
    </div>
</section>
