    <div class="row justify-content-center">
        <div class="col-md-10 panel statistics" data-aos="fade-up"
            data-aos-duration="732" data-aos-offset="20"
            data-aos-anchor=".statistics">
            <div class="row reveal-row-wrapper">
                {{ range $.Site.Data.section.statistics}}
                <div class="col reveal">
                    <div class="reveal-item">
                        <img src="https://via.placeholder.com/56"
                            alt="placeholder"
                            class="reveal-item-image">
                        <div>
                            <div class="reveal-item-title">
                                {{.name}}
                            </div>
                            <div class="reveal-item-content">
                                <span data-countup>{{.count}}</span>
                                <span>건</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>