<div id="k-voucher" class="container panel-medium" data-aos="zoom-in"
    data-aos-ancho="panel-medium">
    <div class="col-md-10 d-flex align-items-center">
        <img src="/assets/images/pack/ZombieingDoodleWhite.svg" alt="비대면바우처"
            class="custom-icon-160 panel-medium-image">
        <div class="panel-medium-text-wrapper">
            <h5 class="panel-medium-title">
                주주가 비대면 바우처 공급 기업으로 선정되었어요 🎉
            </h5>
            <p class="panel-medium-subtitle">
                비대면 바우처로 10배 이득인 법인 등기 시작해보세요.
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <button class="button button-primary button-medium" onclick="window.open('voucher/')">
            <span>쿠폰 구매하기</span>
            <i data-feather="chevron-right" width="16"></i>
        </button>
    </div>
</div>
