footer {
  width: 100%;
  background-color: $white;

  .footer-inner {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: $baseUnit * 3;
  }

  .row + .row {
    margin-top: $baseUnit * 2;
  }

  .footer-group {
    .footer-group-title,
    .footer-group-list {
      a,
      p {
        font-size: inherit;
      }
    }
    .footer-group-title {
      margin-bottom: $baseUnit * 0.5;
      color: $bodyText;
      @include caption(1.3, $medium);
    }
    .footer-group-list {
      padding: $baseUnit * 0.75 0;
      @include caption(1.5, $regular);
    }
    .footer-group-list-company-info {
      @extend .footer-group-list;
      padding: 0;
      color: $disabledText;
    }
  }
}
