<div class="banner" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-1 justify-content-end">
                <lottie-player src="{{.Site.Data.banner.promotion.voucher.link}}"  background="transparent"  speed="1"  loop autoplay></lottie-player>
            </div>
            <div class="col-md-11 d-flex flex-column justify-content-center">
                <h5>{{.Site.Data.banner.promotion.voucher.title}}</h5>
                <h5>{{.Site.Data.banner.promotion.voucher.content}}</h5>
            </div>
        </div>
    </div>
</div>