<div class="banner" role="banner">
    <div class="container">
        <div class="banner-title">
            <div class="d-flex align-items-center">
                <div class="badge badge-primary">UPDATE</div>
                <div class=banner-summary>{{.Site.Data.banner.banner.title}}</div>
            </div>
            <!-- <button class="button button-tertiary button-small" onclick="location.href={{.Site.Data.banner.banner.link}}">
                <span>자세히 보기</span>
                <i data-feather="chevron-right" width="14" stroke-width="3" class="with-animation"></i>
            </button> -->
        </div>
    </div>
</div>