{{ define "main" }}
<main aria-role="main">
    <section class="narrow">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <div class="main-title-wrapper mb-2">
                        <img src={{.Site.Data.link.common.sparkle}} class="custom-icon-64" alt="sparkle" />
                        <h1 class="main-title">주주 리걸과 함께라면 <span class="underline-magical">셀프 등기와 등기 대행</span> 모두 <br/> 전보다 훨씬 더 <span class="underline-magical">편리하고 투명</span>해질거예요</h1>
                        <img src={{.Site.Data.link.common.sparkle}} class="custom-icon-64 flip-horizontal"
                            alt="sparkle" />
                    </div>
                    <h2 class="main-subtitle text-center">아까운 시간 내서 법인 등기에 필요한 문서들 찾아 헤매지 마세요. <br> 회사 등록 이후에는 전부 주주 리걸이 다 해드릴게요.
                    <a href="/resource/guide/company-create/" class="no-decoration" style="text-decoration: underline;"><b>회사 등록 더 알아보기</b> <i data-feather="chevron-right" width="18" stroke-width="3"></i></span></a>
                    </h2>

                    <div class="row">
                    <div class="d-md-flex d-sm-flex-column align-items-center justify-content-center">
                        <button class="down-sm-width-100 button button-large button-secondary" onclick="window.open('https://legal-app.zuzu.network/login')">
                            <span style="line-height:2.4rem">데모 체험하기</span>
                            <i data-feather="chevron-right" width="18" stroke-width="3"></i>
                        </button>
                        <button class="down-sm-width-100 button button-large button-primary" onclick="window.open('https://legal-app.zuzu.network/signup')">
                            <lottie-player src="/assets/animation/trophy.json" background="transparent" speed="1" loop
                                autoplay class="lottie-player-24"></lottie-player>
                            <span>무료로 시작하기</span>
                            <i data-feather="chevron-right" width="18" stroke-width="3"></i>
                        </button>
                    </div>
                </div>
                    
                        {{- partial "section/main/feature.html" . -}}
                    
                </div>
            </div>           
            <div class="row">
                {{- partial "section/voucher.html" . -}}
            </div>
        </div>
    </section>
    <!-- INCLUDE PARTAIL STARTS -->
    {{- partial "section/customer.html" . -}}
    {{- partial "section/statistics.html" . -}}
    {{- partial "section/cta.html" . -}}
    <!-- INCLUDE PARTIAL ENDS -->
</main>
{{ end }}