{{ define "main" }}
<main aria-role="main">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <div class="main-title-wrapper">
                        <img src={{.Site.Data.link.common.sparkle}}
                            class="custom-icon-40" alt="sparkle" />
                        <h1 class="main-title">{{.Params.title}}</h1>
                        <img src={{.Site.Data.link.common.sparkle}}
                            class="custom-icon-40" alt="sparkle" />
                    </div>
                    <h2 class="main-subtitle text-center">Traditional web
                        analytics tools help you analyze traffic data. <br/>
                            But numbers alone can’t tell you what users really
                            do on your site — <span class="highlight">ZUZU LEGAL will.</span></h2>
                        <div class="d-flex align-items-center justify-content-center">
                            <button class="button button-large
                                button-secondary">
                                <span style="line-height:2.4rem">로그인하기</span>
                            </button>
                            <button class="button button-large button-primary">
                                <lottie-player
                                    src="/assets/animation/trophy.json"
                                    background="transparent" speed="1" loop
                                    autoplay class="lottie-player-24"></lottie-player>
                                <span>무료로 바로 시작하기</span>
                            </button>
                        </div>
                    </div>
                </div>
                {{- partial "section/main/feature.html" . -}}
                {{- partial "section/voucher.html" . -}}
            </div>
        </section>

        <!-- INCLUDE PARTAIL STARTS -->
        {{- partial "section/customer.html" . -}}
        {{- partial "section/statistics.html" . -}}
        {{- partial "section/cta.html" . -}}
        <!-- INCLUDE PARTIAL ENDS -->

    </main>
    {{ end }}
