<section class="coupon">
    <div class="container">
        <div class="row">
            <h2 class="section-title">비대면 바우처 쿠폰</h2>
            <h3 class="section-subtitle">금액별로 총 4개의 쿠폰이 있어요!</h3>
            <h5 class="text-center"><span class="align-middle">*</span> 쿠폰으로 세금
                결제는 불가능해요.</h5>
        </div>

        <div class="row">
            {{ range .Site.Data.coupon.voucher }}
            <div class="col-md-6">
                <div class="bordered py-3 px-4 bg-light">
                    <div>
                        <div class="d-flex align-items-center flex-gap-16">
                            <img src="{{.image}}" alt={{.value}} class="custom-icon-48">
                            <div>
                                <p>셀프 등기 및 등기 대행에 사용할 수 있는</p>
                                <div class="text-gradient mb-2">
                                    <h4>
                                        <b>
                                            비대면 바우처 {{.value}}만원 쿠폰
                                        </b>
                                    </h4>
                                </div>
                                <button class="button button-small
                                    button-secondary"
                                    onclick="window.open({{.link}})">
                                    <span>구매하기</span>
                                    <i data-feather="external-link" width="16"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
